@page "/"

<PageTitle>Registro Técnico</PageTitle>

<div style="border: 5px solid black; padding: 20px; width: fit-content; margin: 50px 0 0 20px; background-color: #FFCCE5;">
    <h1>Bienvenido al Registro Técnico</h1>
    <p>Creado por Jose Amado</p>
</div>


