@page "/Tecnicos/Create"
@inject Tecnicoservice tecnicoService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<div class="card shadow-lg border-0 rounded" style="background-color: #f8f9fa;">
    <div class="card-header bg-primary text-white" style="text-align: center;">
        <h3> <i class="fas fa-clipboard-list"></i> Registro Técnico</h3>
    </div>

    <div class="card-body">
        @* ID del Técnico *@
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="tecniCold" class="form-label">ID del Técnico:</label>
                <div class="input-group">
                    <div style="width: 40%; height: 1em;">
                        <InputNumber @bind-Value="tecnico.TecniCold" class="form-control" style="font-size: 0.8em;" aria-describedby="BotonBuscar" />
                    </div>
                </div>
            </div>
        </div>

        @* Sueldo por hora *@
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="SueldoHora" class="form-label">Sueldo por hora:</label>
                <div class="input-group">
                    <div style="width: 40%; height: 1em;">
                        <InputNumber @bind-Value="tecnico.SueldoHora" class="form-control" style="font-size: 0.8em;" aria-describedby="BotonBuscar" />
                    </div>
                </div>
            </div>
        </div>

        @* Nombre *@
        <div class="mb-3">
            <label for="Nombre" class="form-label">Nombre del técnico:</label>
            <InputText @bind-Value="tecnico.Nombre" class="form-control" />
        </div>

        @* Tipo de técnico *@
        <div class="mb-3">
            <label for="TipoTecnico" class="form-label">Seleccione el tipo de técnico:</label>
            <InputSelect @bind-Value="tecnico.TipoTecnico" class="form-control">
                <option value="">Elija una opción</option>
                <option value="Análisis Forense Digital">Análisis Forense Digital</option>
                <option value="Programador">Programador</option>
                <option value="Impresora">Impresora</option>
                <option value="Inteligencia Artificial y Machine Learning">Inteligencia Artificial y Machine Learning</option>
                <option value="Redes">Redes</option>
                <option value="Soporte Técnico">Soporte Técnico</option>
            </InputSelect>
        </div>
    </div>

    <div class="card-footer bg-light d-flex justify-content-start mt-3">
        <div class="btn-group">
            <button type="button" class="btn btn-outline-primary ml-2" @onclick="Nuevo"><span class="bi bi-plus"></span> Nuevo</button>
            <button type="button" class="btn btn-outline-success ml-2" @onclick="Guardar"><span class="bi bi-check-circle-fill"></span> Guardar</button>
            <a href="/Tecnicos/Index" class="btn btn-outline-secondary ml-2"><span class="bi bi-arrow-bar-left"></span> Retroceder</a>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int tecniCold { get; set; }

    public Tecnicos tecnico { get; set; } = new Tecnicos();
    private bool Existe = false;

    public void Nuevo()
    {
        tecnico = new Tecnicos();
        Existe = false;
    }

    public async Task Buscar()
    {
        Existe = false;
        var tecnicoEncontrado = await tecnicoService.Buscar(tecnico.TecniCold);

        if (tecnicoEncontrado != null)
        {
            tecnico = tecnicoEncontrado;
        }
        else
        {
            Nuevo();
        }
    }

    public async Task<bool> Validar()
    {
        Existe = await tecnicoService.Existe(tecnico.Nombre);
        return !Existe;
    }

    public async Task Guardar()
    {
        if (!await Validar())
        {
            return;
        }

        var guardo = await tecnicoService.Guardar(tecnico);
        if (guardo)
        {
            Nuevo();
            navigationManager.NavigateTo("/Tecnicos/Index");
        }
    }

    public async Task Eliminar()
    {
        var eliminado = await tecnicoService.ELiminar(tecnico.TecniCold);
        if (eliminado)
        {
            Nuevo();
            navigationManager.NavigateTo("/Tecnicos/Index");
        }
    }
}




