@page "/Tecnicos/Details"
@page "/Tecnicos/Details/{tecniCold:int}"
@inject Tecnicoservice TecnicoService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Detalles de Técnico</PageTitle>

@if (tecnico != null)
{
    <div class="container mt-4">
        <div class="card shadow-lg rounded">
            <div class="card-header titulo-fondo-rosado-borde-negro">
                <h3 class="text-center"><strong>Detalles del Técnico</strong></h3>
            </div>
            <div class="card-body">
                <ul class="list-unstyled">
                    <li><strong>ID del Técnico:</strong> @tecnico.tecniCold</li>
                    <li><strong>Nombre Completo:</strong> @tecnico.nombre</li>
                    <li><strong>Tarifa Horaria:</strong> @tecnico.sueldoHora</li>
                </ul>
            </div>
            <div class="card-footer text-center">
                <button type="button" class="btn btn-outline-primary" @onclick="Volver">
                    <i class="bi bi-box-arrow-left"></i> Volver
                </button>
            </div>
        </div>
    </div>
}
else
{
    <p>Técnico no encontrado.</p>
}

@code {
    [Parameter]
    public int tecniCold { get; set; }
    public Tecnicos? tecnico { get; set; } = new Tecnicos();

    protected override async Task OnInitializedAsync()
    {
        tecnico = await TecnicoService.Buscar(tecniCold);
    }

    public void Volver()
    {
        navigationManager.NavigateTo("/Tecnicos/Index");
    }
}